# dependencies
/frontend/node_modules
/frontend/package-lock.json
/frontend/.eslintcache
/frontend/.pnp
/frontend/.env
.pnp.js

# testing
/frontend/coverage

# production
/frontend/build

# misc
*.swp
*.swo
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
/backend/finance/tmp

npm-debug.log*
yarn-debug.log*
yarn-error.log*

__pycache__
*.pyc

# terraform
/deployment/terraform/*.tfvars
/deployment/terraform/.*
/deployment/terraform/*.hcl
/deployment/terraform/*.backup
/deployment/terraform/wallet*.zip

# heroku
/deployment/heroku/test.env

# private
/frontend/src/secrets.js
/backend/pgdata
/backend/oracle
/backend/secrets/credentials.json
/backend/secrets/cwallet.sso
/backend/secrets/tnsnames.ora
/deployment/kubernetes/secrets
/deployment/kubernetes/configs
/deployment/certbot/secrets
/deployment/scripts/output.json
