{
  "SECRET_KEY": "...",

  "DB_USER": "django",
  "DB_PASSWORD": "...",

  "EMAIL_HOST": "...",
  "EMAIL_PORT": 123,
  "EMAIL_HOST_USER": "abc@abs",
  "EMAIL_HOST_PASSWORD": "...",

  "ALLOWED_HOSTS": ["..."],

  "CRAWLER_HOST": "...",

  "JWT_SECRET_KEY": "...",
  "JWT_ALGORITHM": "...",

  "SENTRY_URL": "...",

  "OCI_CUSTOMER_ACCESS_KEY": "...",
  "OCI_CUSTOMER_SECRET_KEY": "...",
  "OCI_STORAGE_NAMESPACE": "...",
  "OCI_REGION": "..."
}

